<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwd.classroom.mapper.CrUserMapper">
  <resultMap id="BaseResultMap" type="com.jwd.classroom.pojo.CrUser">
    <!--@mbg.generated-->
    <!--@Table cr_user-->
    <id column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_num" jdbcType="VARCHAR" property="userNum" />
    <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
    <result column="user_role" jdbcType="INTEGER" property="userRole" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_nikename" jdbcType="VARCHAR" property="userNikename" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    openid, user_name, user_num, user_sex, user_role, user_phone, user_nikename
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from cr_user
    where openid = #{openid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from cr_user
    where openid = #{openid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jwd.classroom.pojo.CrUser">
    <!--@mbg.generated-->
    insert into cr_user (openid, user_name, user_num, 
      user_sex, user_role, user_phone, 
      user_nikename)
    values (#{openid,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userNum,jdbcType=VARCHAR}, 
      #{userSex,jdbcType=VARCHAR}, #{userRole,jdbcType=INTEGER}, #{userPhone,jdbcType=VARCHAR}, 
      #{userNikename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jwd.classroom.pojo.CrUser">
    <!--@mbg.generated-->
    insert into cr_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openid != null and openid != ''">
        openid,
      </if>
      <if test="userName != null and userName != ''">
        user_name,
      </if>
      <if test="userNum != null and userNum != ''">
        user_num,
      </if>
      <if test="userSex != null and userSex != ''">
        user_sex,
      </if>
      <if test="userRole != null">
        user_role,
      </if>
      <if test="userPhone != null and userPhone != ''">
        user_phone,
      </if>
      <if test="userNikename != null and userNikename != ''">
        user_nikename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="openid != null and openid != ''">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="userName != null and userName != ''">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNum != null and userNum != ''">
        #{userNum,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null and userSex != ''">
        #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null">
        #{userRole,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null and userPhone != ''">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userNikename != null and userNikename != ''">
        #{userNikename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jwd.classroom.pojo.CrUser">
    <!--@mbg.generated-->
    update cr_user
    <set>
      <if test="userName != null and userName != ''">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNum != null and userNum != ''">
        user_num = #{userNum,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null and userSex != ''">
        user_sex = #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null">
        user_role = #{userRole,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null and userPhone != ''">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userNikename != null and userNikename != ''">
        user_nikename = #{userNikename,jdbcType=VARCHAR},
      </if>
    </set>
    where openid = #{openid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jwd.classroom.pojo.CrUser">
    <!--@mbg.generated-->
    update cr_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_num = #{userNum,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=VARCHAR},
      user_role = #{userRole,jdbcType=INTEGER},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_nikename = #{userNikename,jdbcType=VARCHAR}
    where openid = #{openid,jdbcType=VARCHAR}
  </update>
</mapper>