<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwd.classroom.mapper.CrUserMapper">
  <resultMap id="BaseResultMap" type="com.jwd.classroom.pojo.CrUser">
    <!--@mbg.generated-->
    <!--@Table cr_user-->
    <id column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
    <result column="student_num" jdbcType="VARCHAR" property="studentNum" />
    <result column="student_sex" jdbcType="VARCHAR" property="studentSex" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    openid, student_name, student_num, student_sex
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from cr_user
    where openid = #{openid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from cr_user
    where openid = #{openid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jwd.classroom.pojo.CrUser">
    <!--@mbg.generated-->
    insert into cr_user (openid, student_name, student_num, 
      student_sex)
    values (#{openid,jdbcType=VARCHAR}, #{studentName,jdbcType=VARCHAR}, #{studentNum,jdbcType=VARCHAR}, 
      #{studentSex,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jwd.classroom.pojo.CrUser">
    <!--@mbg.generated-->
    insert into cr_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openid != null and openid != ''">
        openid,
      </if>
      <if test="studentName != null and studentName != ''">
        student_name,
      </if>
      <if test="studentNum != null and studentNum != ''">
        student_num,
      </if>
      <if test="studentSex != null and studentSex != ''">
        student_sex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="openid != null and openid != ''">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null and studentName != ''">
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="studentNum != null and studentNum != ''">
        #{studentNum,jdbcType=VARCHAR},
      </if>
      <if test="studentSex != null and studentSex != ''">
        #{studentSex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jwd.classroom.pojo.CrUser">
    <!--@mbg.generated-->
    update cr_user
    <set>
      <if test="studentName != null and studentName != ''">
        student_name = #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="studentNum != null and studentNum != ''">
        student_num = #{studentNum,jdbcType=VARCHAR},
      </if>
      <if test="studentSex != null and studentSex != ''">
        student_sex = #{studentSex,jdbcType=VARCHAR},
      </if>
    </set>
    where openid = #{openid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jwd.classroom.pojo.CrUser">
    <!--@mbg.generated-->
    update cr_user
    set student_name = #{studentName,jdbcType=VARCHAR},
      student_num = #{studentNum,jdbcType=VARCHAR},
      student_sex = #{studentSex,jdbcType=VARCHAR}
    where openid = #{openid,jdbcType=VARCHAR}
  </update>
</mapper>